# Renomeie esse arquivo pra .env.local e preencha com suas credenciais do Supabase
# Pegue em: https://supabase.com/dashboard/project/SEU_PROJETO/settings/api

NEXT_PUBLIC_SUPABASE_URL=https://xmmegpshfmihbbcmvdxr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhtbWVncHNoZm1paGJiY212ZHhyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgxMTU0MDMsImV4cCI6MjA5MzY5MTQwM30.KW3278sJMgXQRbKF6Z1JXRzqDrZwA-fnMZIlWgX_soY
